In [1]:
import os 


import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import * 
from sklearn.metrics import *
from sklearn.preprocessing import *
from sklearn.pipeline import *
from sklearn.compose import *
from sklearn.impute import *
from sklearn.ensemble import *
from sklearn.linear_model import *
from sklearn.decomposition import *
from sklearn.feature_selection import *

In [2]:
pwd

'/tmp/P4_repo/notebooks'

In [3]:
cd ..

/tmp/P4_repo

/tmp/P4_repo/.venv/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [4]:
files = os.listdir()
files = [f for f in files if f.endswith(".csv")]
files = [f for f in files if "cleaned" in f]
filename = files[0]
filename

'data_cleaned.csv'

In [5]:
df = pd.read_csv(filename)

In [6]:
y_name = "SiteEnergyUse(kBtu)"
y = df[y_name]
X = df.drop(columns=y_name)

X

,Latitude,Longitude,YearBuilt,NumberofBuildings,NumberofFloors,PropertyGFAParking,PropertyGFABuilding(s),ENERGYSTARScore
0,47.61220,-122.33799,1927,1.0,12,0,88434,60.0
1,47.61317,-122.33393,1996,1.0,11,15064,88502,61.0
2,47.61393,-122.33810,1969,1.0,41,196718,759392,43.0
3,47.61412,-122.33664,1926,1.0,10,0,61320,56.0
4,47.61375,-122.34047,1980,1.0,18,62000,113580,75.0
...,...,...,...,...,...,...,...,...
3361,47.56722,-122.31154,1990,1.0,1,0,12294,46.0
3362,47.59625,-122.32283,2004,1.0,1,0,16000,NaN
3363,47.63644,-122.35784,1974,1.0,1,0,13157,NaN
3364,47.52832,-122.32431,1989,1.0,1,0,14101,NaN
3365,47.53939,-122.29536,1938,1.0,1,0,18258,NaN

In [7]:
y

0       7.226362e+06
1       8.387933e+06
2       7.258702e+07
3       6.794584e+06
4       1.417261e+07
            ...
3361    8.497457e+05
3362    9.502762e+05
3363    5.765898e+06
3364    7.194712e+05
3365    1.152896e+06
Name: SiteEnergyUse(kBtu), Length: 3366, dtype: float64

In [8]:
imputer = KNNImputer(n_neighbors=5)
imputer.fit(X)
X_imputed = imputer.transform(X)
X_imputed = pd.DataFrame(X_imputed, columns=X.columns)
X_imputed

,Latitude,Longitude,YearBuilt,NumberofBuildings,NumberofFloors,PropertyGFAParking,PropertyGFABuilding(s),ENERGYSTARScore
0,47.61220,-122.33799,1927.0,1.0,12.0,0.0,88434.0,60.0
1,47.61317,-122.33393,1996.0,1.0,11.0,15064.0,88502.0,61.0
2,47.61393,-122.33810,1969.0,1.0,41.0,196718.0,759392.0,43.0
3,47.61412,-122.33664,1926.0,1.0,10.0,0.0,61320.0,56.0
4,47.61375,-122.34047,1980.0,1.0,18.0,62000.0,113580.0,75.0
...,...,...,...,...,...,...,...,...
3361,47.56722,-122.31154,1990.0,1.0,1.0,0.0,12294.0,46.0
3362,47.59625,-122.32283,2004.0,1.0,1.0,0.0,16000.0,82.6
3363,47.63644,-122.35784,1974.0,1.0,1.0,0.0,13157.0,82.6
3364,47.52832,-122.32431,1989.0,1.0,1.0,0.0,14101.0,82.6
3365,47.53939,-122.29536,1938.0,1.0,1.0,0.0,18258.0,66.2

In [10]:
X_imputed.isna().sum()

Latitude                  0
Longitude                 0
YearBuilt                 0
NumberofBuildings         0
NumberofFloors            0
PropertyGFAParking        0
PropertyGFABuilding(s)    0
ENERGYSTARScore           0
dtype: int64